In [13]:
import pandas as pd
import random

In [14]:
semt_baz_fiyat = {
    'Bornova': 195,
    'Karşıyaka': 220,
    'Buca': 170,
    'Bayraklı': 190,
    'Konak': 210,
    'Balçova': 180,
    'Karabağlar': 170
}
semtler = list(semt_baz_fiyat.keys())
oda_sayilari = ['1+1', '2+1', '3+1', '4+1']
isitma_tipleri = ['Doğalgaz Kombi', 'Merkezi Sistem', 'Soba', 'Klima']
site_durumlari = ['Evet', 'Hayır']
esya_durumlari = ['Evet', 'Hayır']
asansor_durumlari = ['Evet', 'Hayır']
balkon_durumlari = ['Evet', 'Hayır']
manzara_durumlari = ['Şehir', 'Deniz', 'Yok']

In [15]:
def manzara_puan(manzara):
    if manzara == 'Deniz':
        return 1000
    elif manzara == 'Şehir':
        return 600
    else:
        return 0


def veri_uret(adet=500):
    veri = []

    for _ in range(adet):
        semt = random.choice(semtler)
        baz_fiyat = semt_baz_fiyat[semt]

        oda = random.choice(oda_sayilari)
        metrekare = random.randint(60, 180)
        bina_yasi = random.randint(0, 30)
        kat = random.randint(1, 4)

        isitma = random.choice(isitma_tipleri)
        site = random.choice(site_durumlari)
        esyali = random.choice(esya_durumlari)
        asansor = random.choice(asansor_durumlari)
        balkon = random.choice(balkon_durumlari)
        manzara = random.choice(manzara_durumlari)
        aidat = random.randint(0, 1000)

        fiyat = (metrekare * baz_fiyat
                 +(1000 if site == 'Evet' else 0)
                 +(500 if esyali == 'Evet' else 0)
                 +(700 if asansor == 'Evet' else -300)
                 +(400 if balkon == 'Evet' else 0)
                 +manzara_puan(manzara)
                 +random.randint(-1000,1000)
                 -(bina_yasi * 30))

        fiyat = max(fiyat, 7000)

        veri.append([semt, oda, metrekare, bina_yasi,
                     kat, isitma, site, esyali, asansor,
                     balkon, manzara, aidat, int(fiyat)])

    df = pd.DataFrame(veri, columns=[
        'Semt', 'Oda_Sayisi', 'Metrekare', 'Bina_Yasi', 'Kat',
        'Isitma', 'Site_Icinde', 'Esyali', 'Asansor', 'Balkon',
        'Manzara', 'Aidat', 'Kira'
    ])

    return df

In [16]:
df = veri_uret(500)
df.head()

,Semt,Oda_Sayisi,Metrekare,Bina_Yasi,Kat,Isitma,Site_Icinde,Esyali,Asansor,Balkon,Manzara,Aidat,Kira
0,Karşıyaka,2+1,142,17,4,Klima,Evet,Hayır,Evet,Evet,Şehir,243,34156
1,Bayraklı,2+1,111,14,1,Klima,Evet,Evet,Hayır,Evet,Şehir,584,22746
2,Bornova,1+1,139,10,1,Doğalgaz Kombi,Hayır,Evet,Evet,Evet,Deniz,211,28713
3,Konak,2+1,112,13,3,Klima,Hayır,Hayır,Hayır,Hayır,Yok,721,22354
4,Bornova,1+1,114,19,3,Doğalgaz Kombi,Evet,Evet,Evet,Evet,Deniz,55,26047

In [17]:
df.to_csv("homelens_temsili_veri.csv", index=False)